{
  "openapi" : "3.0.2",
  "info" : {
    "title" : "NDEx 2.4 REST API",
    "description" : "This [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification) document defines the **N**etwork **D**ata **Ex**change (**NDEx**) REST API which is used to communicate with NDEx public and private servers.\n\nThis document and all references to the NDEx REST API, source code and ancillary documentation are copyrighted: *© 2013-2019, The Regents of the University of California, The Cytoscape Consortium.  All rights reserved.*  Please abide with the [Terms of Use, Licensing and Sources](http://www.home.ndexbio.org/disclaimer-license/). Likewise, the [Swagger-UI](https://github.com/swagger-api/swagger-ui) document reader that displays this OpenAPI document is copyrighted by *Smartbear Software*. Its open-source software license is found [here](https://github.com/swagger-api/swagger-ui/blob/master/LICENSE).\n\nGoogle's OAuth login is not currently supported.  It will be added when the Swagger-UI document reader permits. Basic Authentication and all other API endpoints are supported.\nThe full NDEx API specification is found on the [official NDEx API document](http://www.home.ndexbio.org/using-the-ndex-server-api/) webpage.\n\nThis OpenAPI project is developed and maintained by [Mike Fidel](mailto:mikefidel.us@gmail.com).  Please submit bug reports, enhancement requests and questions through the project's [GitHub's Issue Tracking](https://github.com/ndexbio/openapi-specification/issues).\n",
    "version" : "2.4.0"
  },
  "servers" : [ {
    "url" : "http://www.ndexbio.org/v2",
    "description" : "NDEx public server"
  }, {
    "url" : "http://{Host}/{Version}",
    "description" : "The host server URL and API version can be overridden.\n",
    "variables" : {
      "Host" : {
        "default" : "www.ndexbio.org"
      },
      "Version" : {
        "description" : "API version",
        "default" : "v2",
        "enum" : [ "v2", "rest" ]
      }
    }
  } ],
  "tags" : [ {
    "name" : "Admin"
  }, {
    "name" : "Batch"
  }, {
    "name" : "Group"
  }, {
    "name" : "Network"
  }, {
    "name" : "Network Set"
  }, {
    "name" : "Search"
  }, {
    "name" : "Task"
  }, {
    "name" : "User"
  } ],
  "paths" : {
    "/admin/status" : {
      "get" : {
        "tags" : [ "Admin" ],
        "summary" : "Get Server Status",
        "description" : "- Get the current operational status of an NDEx server.\n- Use this function to check if the NDEx server is running or stopped, as well as list important server properties.\n- The `format` query parameter determines what properties are listed by this operation.\n",
        "parameters" : [ {
          "name" : "format",
          "in" : "query",
          "description" : "Determines the server information to be returned.\n  * **standard** - returns properties such as server version and build. The *AdminStatusStandardSchema* Model is returned.\n  * **full** - returns standard properties as well as additional properties.  The *AdminStatusFullSchema* Model is returned.\n",
          "required" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "standard", "full" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/AdminStatusStandardSchema"
                  }, {
                    "$ref" : "#/components/schemas/AdminStatusFullSchema"
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ ]
      }
    },
    "/batch/group" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Get Groups by UUIDs",
        "description" : "- Returns a JSON array of Group objects.\n- The HTTP request payload contains a JSON array of UUIDs which identify which Group objects to fetch.\n- No more than 2000 UUIDs are returned.\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "description" : "List of Group UUIDs",
                "items" : {
                  "type" : "string",
                  "description" : "Group UUID",
                  "format" : "uuid"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of Group objects",
                  "items" : {
                    "$ref" : "#/components/schemas/GroupObjectSchema"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ ]
      }
    },
    "/batch/network/export" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Export Networks",
        "description" : "- Creates network export tasks for the set of networks specified by the `networkids` property in the network export request payload.\n- The format which to export is specified using the `exportFormat` property in the request payload.\n- The /admin/status?format=full function can be used to get a complete list of importers/exporters the server supports.\"\n- Returns a JSON object which maps Network UUIDs to ExportTaskIDs.  The taskId can then be used to download the exported file.  Refer to the *Download Exported File by Task UUID* operation.\n- No more than 1000 UUIDs are returned.\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/batch/network/permission" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Get Network Permissions by UUIDs",
        "description" : "- Returns what permissions the authenticated user has on the given list of network UUIDs.\n- The response payload is a JSON map in which the keys are network UUIDs and the corresponding values are the highest permission assigned to the authenticated user.\n- No more than 500 UUIDs are returned.\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "description" : "Network UUIDs",
                "items" : {
                  "type" : "string",
                  "description" : "A list of network UUIDs. An example network UUID is entered for demonstration purposes. It can be replaced with one or more  network UUIDs, as needed.",
                  "format" : "uuid",
                  "example" : "2cda23a9-1e5f-11e8-b939-0ac135e8bacf"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The keys are network UUIDs and the their values are the highest permission assigned to the authenticated user.\n"
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/batch/network/summary" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Get Network Summaries of UUIDs",
        "description" : "- Returns a JSON array of Network Summary objects.\n- The HTTP request payload contains a JSON array of UUIDs which identify which Network Summary objects to fetch.\n- This function only returns summaries for public networks if the user is not authenticated, otherwise it returns public and the networks for which the authenticated user has READ permission.\n- The optional `accesskey` parameter is supposed to be the accesskey of the network set.  If the given UUIDin the POSTed list is a member of that network set, the server will bypass its permission checking on that network and include the network in the result.\n- No more than 2000 UUIDs are returned.\n",
        "parameters" : [ {
          "name" : "accesskey",
          "in" : "query",
          "description" : "(Optional) The access key UUID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "description" : "List of Network Summary UUIDs",
                "items" : {
                  "type" : "string",
                  "description" : "A list of network UUIDs. An example network UUID is entered for demonstration purposes. It can be replaced with one or more  network UUIDs, as needed.",
                  "format" : "uuid",
                  "example" : "cac8ec21-2d32-11e8-b939-0ac135e8bacf"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of Network Summary objects",
                  "items" : {
                    "$ref" : "#/components/schemas/NetworkSummaryObjectSchema"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/batch/user" : {
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Get Users by UUIDs",
        "description" : "- Returns a JSON array of User objects.\n- The HTTP request payload contains a JSON array of UUIDs which identify which User objects to fetch.\n- No more than 2000 UUIDs are returned.\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "description" : "List of User UUIDs",
                "items" : {
                  "type" : "string",
                  "description" : "User UUID",
                  "format" : "uuid"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of User objects",
                  "items" : {
                    "$ref" : "#/components/schemas/UserObjectSchema"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ ]
      }
    },
    "/group" : {
      "post" : {
        "tags" : [ "Group" ],
        "summary" : "Create a Group",
        "description" : "- Creates a new group owned by the authenticated user.\n- The following properties can be set for the new group\n  - `groupName`\n  - `image`\n  - `website`\n  - `description`\n- A URL link associated with the newly created group is returned in the response payload upon successful completion.\n- The group's UUID is a component of this URL and corresponds to the **groupid** parameter used in subsequent Get/Put/Delete group operations.\n- Returns an error if\n  - the `groupName` property is not specified or already in use\n  - the user is not authenticated\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "description" : "URL of newly created group",
                  "format" : "url",
                  "example" : "http://test.ndexbio.org/v2/group/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/group/{groupid}" : {
      "get" : {
        "tags" : [ "Group" ],
        "summary" : "Get a Group",
        "description" : "- Retrieves the group specified by **groupid** (i.e. Group UUID).\n- Returns an error if the group is not found.\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "The Group object UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupObjectSchema"
                }
              }
            }
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ ]
      },
      "put" : {
        "tags" : [ "Group" ],
        "summary" : "Update a Group",
        "description" : "- Updates the group metadata associated with the **groupid** path parameter.\n- Returns an error if:\n  - the group is not found\n  - the user is not the owner of the network set\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "The Group object UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_2"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Group" ],
        "summary" : "Delete a Group",
        "description" : "- Deletes the group specified by the **groupid** path parameter.\n- Returns an error if:\n  - the roup is not found\n  - the authenticated user does not have authorization to delete the group\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "The Group object UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/group/{groupid}/membership" : {
      "get" : {
        "tags" : [ "Group" ],
        "summary" : "Get Members of a Group",
        "description" : "- Retrieves members of the group associated with the **groupid** path parameter.\n- The **type** query parameter can filter which membership types are returned.  All membership types are returned if this query param is omitted.\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "The Group object UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "GROUPADMIN", "MEMBER" ]
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "Index to first object to return.  (default = 0)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Number of objects to return. (default = 100)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/inline_response_200"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Group" ],
        "summary" : "Add or Update a Group Member",
        "description" : "- Updates the group membership associated with the **groupid** path parameter.\n- An error is returned if:\n  - any path or query parameter is omitted\n  - the authenticated user does not have Admin permissions for the group\n  - the change would leave the group without an Admin member\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "The Group object UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "userid",
          "in" : "query",
          "description" : "The User object UUID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "GROUPADMIN", "MEMBER" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Group" ],
        "summary" : "Remove a Group Member",
        "description" : "- Removes the group member associated with the **userid** query parameter.\n- An error is returned if:\n  - the group does not exist\n  - the authenticated user is not authorized to edit this group\n  - removing the member would leave the group without an Admin member\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "The Group object UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "userid",
          "in" : "query",
          "description" : "The User object UUID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/group/{groupid}/permission" : {
      "get" : {
        "tags" : [ "Group" ],
        "summary" : "Get Permissions (Two Options)",
        "description" : "Option 1 - Get Group Permission for a Specific Network\n- Using the **networkId=** query parameter:\n  - Returns the explicit permission the specified **groupid** has on the specified **networkid**, which is either READ or WRITE.\n  - Authentication is manditory to ensure only members of a group can obtain group-network permissions.\n---\nOption 2 - Get Network Permissions of a Group\n- Using **permission=**, **start=** and **size=** query parameters:\n  - Returns network permissions for the specified group.\n  - The returned JSON object contains key/value pairs,where the key is the network UUID and the value is the corresponding permission.\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "(Manditory for Both Options) The Group object UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "networkid",
          "in" : "query",
          "description" : "(Option 1 only) network UUID to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "permission",
          "in" : "query",
          "description" : "(Option 2 only) 'READ' or 'WRITE' required",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "READ", "WRITE" ]
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "(Option 2 only) Index to first object to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "(Option 2 only) Number of objects to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network" : {
      "post" : {
        "tags" : [ "Network" ],
        "summary" : "Create a CX Network",
        "description" : "- Creates a CX Network.\n- If the POSTed content-type is multipart/form-data, the input CX data is expected to be in the CXNetworkStream field.\n- If the POSTed content-type is application/json, the user can post CX data directly in the payload.\n- TThe user can use the optional `visibility` parameter ti set the visibility of a network when uploading it.\n- Returns an error if\n  - the user is not authenticated\n",
        "parameters" : [ {
          "name" : "visibility",
          "in" : "query",
          "description" : "(Optional) Indicates the visibility setting of the network when it is uploaded.\n",
          "required" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "PRIVATE",
            "enum" : [ "PRIVATE", "PUBLIC" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CX_NetworkStreamSchema"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CX_NetworkObjectSchema"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "description" : "URL of newly created network",
                  "format" : "url",
                  "example" : "http://test.ndexbio.org/v2/network/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get Complete Network in CX Format",
        "description" : "- Returns the specified network as CX.\n- This is performed as a monolithic operation, so it is advisable for applications to first use the **getNetworkSummary** method to check the node and edge counts for a network before retrieving the network.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network acted upon, in the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx. An example network UUID is entered below for demonstration purposes. It can be replaced with another network UUID, as needed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "cac8ec21-2d32-11e8-b939-0ac135e8bacf"
        }, {
          "name" : "accesskey",
          "in" : "query",
          "description" : "(Optional) The access key UUID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CX_NetworkStreamSchema"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Update a CX Network",
        "description" : "- Updates the specified network with new content, based on CX data.\n- If the POSTed content-type is multipart/form-data, the input CX data is expected to be in the CXNetworkStream field.\n- If the POSTed content-type is application/json, the user can post CX data directly in the payload.\n- Returns an error if:\n  - CX data is not provided\n  - the UUID does not correspond to an existing network for which the authenticated user owns or for which they have WRITE permission\n  - the CX data is larger than the maximum size of a newwork the current NDEx server allows.\n  - the user is not authenticated\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CX_NetworkStreamSchema"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CX_NetworkObjectSchema"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "description" : "URL of newly created network",
                  "format" : "url",
                  "example" : "http://test.ndexbio.org/v2/network/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Network" ],
        "summary" : "Delete a network",
        "description" : "- Deletes the network specified by networkid.\n- There is no method to undo a deletion, so care should be exercised.\n- The specified network must be owned by the authenticated user.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/accesskey" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get Access Key of Network",
        "description" : "- Returns an access key to the user.  This access key will allow any user to have read access to this network regardless if that user has READ permissions on this network.\n- If the access key is not enabled, a status code of 204 (no payload content) is returned.\n- Errors if:\n  - The caller is not the owner of this network.\n  - the **networkid** does not correspond to an existing network\n  ---\n**Note: The access key function must be enabled in order to return a key.** Refer to *Disable/enable Access Key on Network* operation.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Disable/Enable Access Key on Network",
        "description" : "- This operations turns the access key on and off.\n- Returns an access key when query parameter `action=enable`.\n- Returns a status code of 204 (no payload content) when query parameter `action=disable`.\n- Errors if:\n  - The caller is not the owner of this network.\n  - the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "Used to denote whether to disable or enable the access key function.\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "enable",
            "enum" : [ "enable", "disable" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/aspect" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get Network CX Metadata Collection",
        "description" : "- Returns the CX metadata collection of the network specified by **networkid**.\n- Errors if the **networkid** does not correspond to an existing network.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network acted upon, in the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx. An example network UUID is entered below for demonstration purposes. It can be replaced with another network UUID, as needed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "cac8ec21-2d32-11e8-b939-0ac135e8bacf"
        }, {
          "name" : "accesskey",
          "in" : "query",
          "description" : "(Optional) The access key UUID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/aspect/{aspectName}" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get Network Aspect as CX",
        "description" : "- Returns a JSON array of CX elements from the aspect specified by the  **aspectName** path parameter from the network specified by networkid.\n- The size parameter is optional, and by default the server will return all elements of this aspect.\n- Errors if the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network acted upon, in the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx. An example network UUID is entered below for demonstration purposes. It can be replaced with another network UUID, as needed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "cac8ec21-2d32-11e8-b939-0ac135e8bacf"
        }, {
          "name" : "aspectName",
          "in" : "path",
          "description" : "An example aspect name is entered below for demonstration purposes.  It can be replaced with another aspect name, as needed. Examples include 'cartesianCoordinates', 'nodes', 'edges', and 'edgeAttributes'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "cyVisualProperties"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Number of objects to return. (default = 100)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of CX element objects",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/aspect/{aspectName}/metadata" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get Network Aspect Metadata",
        "description" : "- Returns the CX metadata for the specified aspect of the network specified by **networkid**.\n- Errors if the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "aspectName",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/aspects" : {
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Update Network Aspects",
        "description" : "- Updates aspects of the network specified by **networkid**.\n- Put data contains a CX object which includes the specified aspects that will be used to overwrite or insert into the network.\n- The networkAttributes aspect should not be updated using this function because it needs\n  special handling. Instead, please use the `Update Network Profile` or `Set Network Properties` functions to change values in networkAttributes.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/copy" : {
      "post" : {
        "tags" : [ "Network" ],
        "summary" : "Clone a Network",
        "description" : "- Creates a clone of the network specified by networkid (UUID )into the signed in user's account.\n- The URL of the cloned network is returned to the client.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network acted upon, in the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx. An example network UUID is entered below for demonstration purposes. It can be replaced with another network UUID, as needed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "cac8ec21-2d32-11e8-b939-0ac135e8bacf"
        } ],
        "responses" : {
          "201" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "description" : "URL of newly created network set.",
                  "format" : "url",
                  "example" : "http://test.ndexbio.org/v2/network/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/profile" : {
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Update Network Profile",
        "description" : "- Updates the profile information of the network specified by **networkid** based on a POSTed JSON object specifying the attributes to update.\n- Any profile attributes specified will be updated, but attributes that are not specified will have no effect - omission of an attribute does not mean deletion of that attribute.\n- The network profile attributes that are updated by this method are:\n  - `name`\n  - `description`\n  - `version`\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_3"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/properties" : {
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Set Network Properties",
        "description" : "- Updates the **NetworkAttributes** aspect of the network specified by **networkid** based on the list of **NdexPropertyValuePair** objects in the PUT data.\n- Errors if:\n  - the authenticated user does not have ADMIN permission to the specified network\n  - the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_4"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/provenance" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get Network Provenance",
        "description" : "- Returns the Provenance aspect of the network specified by **networkid**.\n- The returned value is a JSON *ProvenanceEntity* object which in turn contains a tree structure of *ProvenanceEvent* and *ProvenanceEntity* objects that describe the provenance history of the network.\n- Refer to the document [NDEx Provenance History](http://www.home.ndexbio.org/network-provenance-history/) for a detailed desciption of this structure and best practices for its use.\n- Errors if:\n  - the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network acted upon, in the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx. An example network UUID is entered below for demonstration purposes. It can be replaced with another network UUID, as needed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "cac8ec21-2d32-11e8-b939-0ac135e8bacf"
        }, {
          "name" : "accesskey",
          "in" : "query",
          "description" : "(Optional) The access key UUID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvenanceEntityObjectSchema"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Set Network Provenance",
        "description" : "- Updates the Provenance aspect of the network specified by **networkid** to be the *ProvenanceEntity* object of the PUT data.\n- The *ProvenanceEntity* object is intended to represent the current state and history of the network and to contain a tree structure of *ProvenanceEvent* and *ProvenanceEntity* objects that describe the provenance history.\n- Refer to the document [NDEx Provenance History](http://www.home.ndexbio.org/network-provenance-history/) for a detailed desciption of this structure and best practices for its use.\n- Errors if:\n  - the authenticated user does not have ADMIN permission to the specified network\n  - the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProvenanceEntityObjectSchema"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/sample" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get Network Sample",
        "description" : "- Returns a sample subnetwork of the network specified by **networkid**.\n- The default sample network is created based on an arbitrary selection of 500 edges, created by the NDEx server for networks larger than 500 edges.\n- Alternatively, if a sample network has been explicitedly stored using **setNetworkSample** request, that sample network will be returned.\n- Returns *ObjectNotFound* exception when:\n  - no sample file was found\n  - network specified by **networkid** has 500 or fewer edges\n  - the sample network is not yet generated by the server at the time of the request.\n  - the sample network has been set to null by the network owner.\n- Errors if:\n  - the authenticated user making the request does not have WRITE or ADMIN permissions to the specified network\n  - the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "accesskey",
          "in" : "query",
          "description" : "(Optional) The access key UUID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CX_NetworkStreamSchema"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Set Sample Network",
        "description" : "- Sets the example network for the network specified by **networkid**.  The sample network is specified by the CX data in the request payload.\n- Errors if:\n  - the authenticated user does not have ADMIN permissions to the specified network\n  - the **networkid** does not correspond to an existing network\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CX_NetworkStreamSchema"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/summary" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Get a Network Summary",
        "description" : "- Retrieves a NetworkSummary JSON object based on the network specified by **networkId**.\n- A NetworkSummary object is a subset of a network object.  It is used to convey basic information about a network in this API.\n- Error occurs if the network is not found or the authenticated user does not have read permission for the network.\n- Anonymous users can only access networks with PUBLIC visibility.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network acted upon, in the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx. An example network UUID is entered below for demonstration purposes. It can be replaced with another network UUID, as needed.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "cac8ec21-2d32-11e8-b939-0ac135e8bacf"
        }, {
          "name" : "accesskey",
          "in" : "query",
          "description" : "(Optional) The access key UUID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkSummaryObjectSchema"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Update Network Profile and Properties",
        "description" : "- The JSON request payload contains key/value pairs that overwrite the corresponding properties of a given network.\n- at this time, only the following properties of a network can be updated:\n  - `name`\n  - `description`\n  - `version`\n  - `visibility`\n  - and `properties`\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_5"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/network/{networkid}/systemproperty" : {
      "put" : {
        "tags" : [ "Network" ],
        "summary" : "Set Network System Properties",
        "description" : "- Sets the network system properties which describe the network's status in a particular NDEx server.\n- These properties are not part of the corresponding CX network object.\n- The only supported system properties at this time are:\n  - `readOnly`\n  - `visibility`\n  - `showcase`\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_6"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/networkset" : {
      "post" : {
        "tags" : [ "Network Set" ],
        "summary" : "Create a Network Set",
        "description" : "- Creates a new network set.\n- A URL link associated with the newly created network set is returned in the response payload upon successful completion.\n- The network set's UUID is a component of this URL and corresponds to the **networksetid** path parameter used in subsequent Get/Put/Delete network set operations.\n- Returns an error when:\n  - the `name` property is not specified\n  - the user is not authenticated.\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NetworkSetRequestBodySchema"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "description" : "URL of newly created network set.",
                  "format" : "url",
                  "example" : "http://test.ndexbio.org/v2/networkset/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                }
              }
            }
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/networkset/{networksetid}" : {
      "get" : {
        "tags" : [ "Network Set" ],
        "summary" : "Get a Network Set",
        "description" : "- Retrieves the network set specified by the **networksetid** (UUID) path parameter.\n- An optional access key query parameter allows any user to have read access to this network set regardless if that user has the READ privilege on this network.\n- When the access key query parameter is used:\n  - the access key function must be enabled in order to return a key. Refer to *Disable/enable Access Key on Network* operation under the Network tag.\n  - a status code of 204 (no content) is returned if the access key function for this network set is not enabled.\n- Returns an error when:\n  - the access key function for this network set is not enabled\n  - the network set does not exist.\n",
        "parameters" : [ {
          "name" : "networksetid",
          "in" : "path",
          "description" : "The network set UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "accesskey",
          "in" : "query",
          "description" : "(Optional) The access key UUID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkSetObjectSchema"
                }
              }
            }
          },
          "204" : {
            "description" : "ERROR - Access key not enabled for this network set."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ ]
      },
      "put" : {
        "tags" : [ "Network Set" ],
        "summary" : "Update a Network Set",
        "description" : "- Updates the network set specified by the **networksetid** (UUID) path parameter.\n- Modifies the specified network set's `name` and `description` properties only.\n- Returns an error when:\n  - the `name` property is not specified\n  - the user is not the owner of the network set\n  - the network set does not exist.\n",
        "parameters" : [ {
          "name" : "networksetid",
          "in" : "path",
          "description" : "The network set UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NetworkSetRequestBodySchema"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Network Set" ],
        "summary" : "Delete a Network Set",
        "description" : "- Deletes the network set specified by the **networksetid** (UUID) path parameter.\n- Returns an error when:\n  - the user is not the owner of the nework set\n  - the network set does not exist.\n",
        "parameters" : [ {
          "name" : "networksetid",
          "in" : "path",
          "description" : "The network set UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/networkset/{networksetid}/members" : {
      "post" : {
        "tags" : [ "Network Set" ],
        "summary" : "Add Networks to Network Set",
        "description" : "- Adds networks to a network set.\n- The HTTP request payload holds an array containing one or more **networksetid**'s (UUID's) that denote the networks to add.\n- An error is returned if:\n  - the network set does not exist\n  - the member to add does not exist\n  - the user is not the owner of the network set\n",
        "parameters" : [ {
          "name" : "networksetid",
          "in" : "path",
          "description" : "The network set UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NetworkSetMembersSchema"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "OK: Operation successful."
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Network Set" ],
        "summary" : "Delete Networks from Network Set",
        "description" : "- Deletes one or more networks belonging to a network set.\n- The HTTP request payload holds an array containing one or more **networkSetId**'s (UUID's) that denote the networks to delete.\n- An error is returned if:\n  - the network set does not exist\n  - the network member to delete does not exist\n  - the user is not the owner of the network set\n",
        "parameters" : [ {
          "name" : "networksetid",
          "in" : "path",
          "description" : "The network set UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NetworkSetMembersSchema"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "404" : {
            "description" : "NOT FOUND: The object that was requested does not exist."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/networkset/{networksetid}/systemproperty" : {
      "put" : {
        "tags" : [ "Network Set" ],
        "summary" : "Update Network Set System Properties",
        "description" : "- Sets the system properties for the network set specified by **networksetid** (UUID).\n- At this time, the only supported system property is `showcase`.\n- An error is returned if:\n  - the network set does not exist\n  - the user is not the owner of the network set\n",
        "parameters" : [ {
          "name" : "networksetid",
          "in" : "path",
          "description" : "The network set UUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_7"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK: Operation successful.  (no payload content)"
          },
          "401" : {
            "description" : "UNAUTHORIZED: Check that you are authenticated (i.e. Signed In) and have the  credentials to access that NDEx object."
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/search/group" : {
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Search Groups",
        "description" : "- Returns an array of Group objects, and returns the total number of objects found that meet the search criterion.\n- The search criterion is found in the request payload's `searchString` property.\n- Wildcard characters are valid in `searchString`.\n",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "description" : "Index to first object to return.  (default = 0)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Number of objects to return. (default = 100)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchStringPropertySchema"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/search/network" : {
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Search Networks",
        "description" : "- Returns an array of NetworkSummary objects, and returns the total number of objects found that meet the search criterion.\n- The search criterion is found in the request payload's `searchString` property.\n- Wildcard characters are valid in `searchString`.\n- The search can be constrained using these optional properties:\n    - `permission` - filter by READ / WRITE network permission\n    - `includeGroups` - filter by user's group permission\n    - `accountName` - filter by network owner\n",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "description" : "Index to first object to return.  (default = 0)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Number of objects to return. (default = 100)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_8"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_6"
                }
              }
            }
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/search/network/genes" : {
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Search Networks by Gene/Protein",
        "description" : "- Returns an array of Network Summary objects, and returns the total number of objects found that meet the search criterion.\n- The `searchString` property contains the search query text. Wildcard characters permitted.\n",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "description" : "Index to first object to return.  (default = 0)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Number of objects to return. (default = 100)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchStringPropertySchema"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_7"
                }
              }
            }
          },
          "500" : {
            "description" : "ERROR: Catch-all bucket for http status codes that denote an error occurred. Check for malformed or incorrect parameters or request payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/search/network/{networkid}/advancedquery" : {
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Advanced Query",
        "description" : "- Description:\n  - A filtered subnetwork of the network specified by **networkId** is returned.\n  - The returned subnetwork contains edges which satisfy both the edgeFilter and nodeFilter properties up to a specified limit.\n  - The subnetwork is returned as a Network object containing the selected edges plus all other network elements relevant to the edges.\n- The returned subnetwork is found by a traversal of the network starting with nodes associated with the following properties:\n  - `edgeFilter`\n  - `nodeFilter`\n  - `edgeLimit`\n- All matches of node or edge properties vs. propertySpecifications are case insensitive.\n- The query is only valid if at least one of the above mentioned filter properties is not null and non-empty.\n- An error is returned if both the `nodeFilter` and `edgeFilter` properties are nulls or have no property specifications.\n",
        "parameters" : [ {
          "name" : "networkid",
          "in" : "path",
          "description" : "A unique identifier (UUID) given to the network element when it is created.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_9"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK: Operation successful.",
[...]
